<h1>結果ページ</h1>
<p>結果を表示</p>
<!-- 楽天ランキングよりトップ3表示 -->
<% @ranking_by_age.each do |ranking| %>
  <%= ranking.rank %>
  <%= link_to image_tag(ranking['mediumImageUrls'][0]), ranking.url, target: :_blank, rel: "noopener noreferrer" %>
  <%= break if ranking.rank ==3 %>
<% end %>

<!--ニュース表示 -->

<%= render partial: "data", collection: @news, as: "news" %>

<p>Powered by <%= link_to "https://newsapi.org", target: :_blank, rel: "noopener noreferrer" do %>　News API　<% end %></p>