<h1>設定ページ</h1>
<p>相手はどんな方ですか？</p>
<p>年代プルダウン（将来機能）</p>
<p>性別プルダウン</p>
<%= form_tag :result_result_page, method: :get do  %>
  <%= label_tag :keyword, 'キーワード検索' %>
  <%= text_field_tag 'keyword', params[:keyword] %>
  <%= submit_tag "検索" %>
<% end %>

<!-- プルダウン -->
<%= form_with url: "/result/result_page", local: true, method: :post do |f| %>
  <%= f.select :sex, [["男性", "0"], ["女性", "1"]] %>
  <%= f.select :age, [["10代", "10"], ["20代", "20"], ["30代", "30"], ["40代", "40"], ["50代以上", "50"]] %>
  <%= f.submit '送信'%>
<% end %>
